.App {
  text-align: center;

}

#root{
  height: 100vh;
  overflow: auto;
  background: #FF9900;
}

/* .item {
  background-color: aqua;
  width: 150px;
  height: 150px;

} */

/* .draggy-container {
  margin: 10%
} */



.input-output-containers {
  display: flex;
  gap: 10%;
}

h1,h2{
  color: white;
  /* --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow); */
}